---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import Problem from "../components/sections/Problem.astro";
import Layer from "../components/sections/Layer.astro";
import Capabilities from "../components/sections/Capabilities.astro";
import Architecture from "../components/sections/Architecture.astro";
import Domains from "../components/sections/Domains.astro";
import Sovereignty from "../components/sections/Sovereignty.astro";
import Briefing from "../components/sections/Briefing.astro";
---

<Base>
  <Nav />
  <main id="main">
    <Hero />
    <Problem />
    <Layer />
    <Capabilities />
    <Architecture />
    <Domains />
    <Sovereignty />
    <Briefing />
  </main>
  <Footer />
</Base>
